PORT=5001
MONGO_URI=

JWT_SECRET=
JWT_REFRESH_SECRET=

# VITE_API_URL=https://url/api
# CLIENT_ORIGIN=https://url
# FRONTEND_URL=https://url

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# VITE_API_URL=http://localhost:5001/api
# CLIENT_ORIGIN=http://localhost:5173
# FRONTEND_URL=http://localhost:5173
