PORT=5001
MONGO_URI=url

JWT_SECRET=HH0ebffdb2253bb067cd9582d18cf0a8342cdagvr4HH
JWT_REFRESH_SECRET=HHkZAw4yo2TK6UbBhaf4LQhgDW5xzuFU2x1TfHH

VITE_API_URL=https://mini-hackathon-project-2026.vercel.app/api
CLIENT_ORIGIN=https://mini-hackathon-project-2026.vercel.app
FRONTEND_URL=https://mini-hackathon-project-2026.vercel.app

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=mrhasnain9009@gmail.com
EMAIL_PASS=diya fhga deqn oqpa

# FRONTEND_URL=https://url.vercel.app
# VITE_API_URL=https://url.vercel.app/api
# CLIENT_ORIGIN=https://url.vercel.app