PORT=5001
MONGO_URI=mongodb+srv://mrhasnain9009_db_user:JXvJsMUV2BAaHNWS@cluster0.mvrp16n.mongodb.net/Auth_NodeMailer

JWT_SECRET=0000000000000
JWT_REFRESH_SECRET=0000000000000

FRONTEND_URL=https://url.vercel.app
VITE_API_URL=https://url.vercel.app/api

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=xyz@gmail.com
EMAIL_PASS=0000 0000 0000 0000

# CLIENT_ORIGIN=https://url.vercel.app